@tailwind base;
@tailwind components;
@tailwind utilities;

.entry-header h1 {
  font-size: 34px;
  line-height: 1.2;
  padding: 0.5em 0 !important;
  border-top: 3px solid #ffb6c1;
  border-bottom: 3px solid #ffb6c1;
  margin: 10px 0;
}
